<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>131213</h1>
    <div>
        <img class="image-code" src="/images/editfile.jpg">
    </div>
</body>
</html>